*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif; 
}

body{
    background-color: #838383;
}

a{
    color: #ffff;
    text-decoration-line: none;
}

.bars-menu{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.bars-menu span{
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 6px;
    background-color: #9A00BF;
    transform-origin: 0px 100%;
    cursor: pointer;
}



.main-container {
    width: 100%;
    margin: auto;
}
@media (min-width: 1115px) {
    .main-container{
        width: 100%;
    }
    }

    .header-nav{ 
    background-image: url(./Recursos/fondo-textura-negro.jpg);
    width: 100%;
    display: flex;
    position: fixed;
  
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 ;
    }
    @media only screen and (min-width: 1115px){
        .header{
    height: 115px;
    }
}


@media (min-width: 1115px){
    .header-nav{
    width: 100%; 
}  
}

.header-menu{
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
    padding: 2px;
    height: 30px;
    width: 30px
    
}

.header-menu:hover{
        cursor: pointer;
    }    
@media (min-width: 1115px) {
    .header-menu{
   display: none;
    }
}

.back-navbar{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.navbar-resp {
    background-color: white;
    color: black;
    height: 100%;
    width: 250px;
    padding: 28px 24px;
}

.navbar-items-resp{
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  height: 200px;
  list-style: none;
  margin-top: 20px;
}

.navbar-linkresp{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.1em;
}

.close-icon:hover {
    cursor: pointer;
}
    

.navbar{
    display: none;
    width: 100%;
    margin-left: 300px;
}

@media (min-width: 1115px) {
    .navbar {
        display: flex;
    }
}

.navbar-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 1em;
    font-weight: bold;

}

.navbar-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    height: 112px;
    padding-top: 42px;
    text-transform: uppercase;
}

.navbar-link:hover {
    border-bottom: 2px solid #ffff;
    color: rgb(145, 145, 145);
}

.logo{
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(348deg) brightness(100%) contrast(83%);
    width: 200px;
    padding: 15px;
    margin-top: 15px;
}

.icons{
    display:flex;
    margin: 42px;
    padding-right: 10px;
    justify-content: space-between;
    gap: 20px;
}

.images{
    filter: invert(27%) sepia(0%) saturate(2009%) hue-rotate(348deg) brightness(98%) contrast(83%);
}

.title{
    padding-top: 50px;
    font-size: 300%;
    text-align: center;
    padding: auto;
}

.background-inicio{
    background-color: #9A00BF;
    height: 200px;
    width: 100%;
    top: 0;
}

footer{
    background-image: url(./Recursos/fondo-textura-negro.jpg);
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1.2rem 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-footer{
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(348deg) brightness(100%) contrast(83%);
    height: 80px;
    margin-bottom: .7rem;   
}

.nav-footer, .icons-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: .7rem;
}

.icons-footer i{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 17px;
}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 100px #f2f2f2;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    background-color: #121212;
    filter: invert(1);
}

.nav-footer{
    list-style: none;
    color: #f2f2f2;
    font-size: 18px;
}

.link-footer{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: .6;
}

.link-footer:hover{
    opacity: 1;
}

.text{
    font-size: 20px;
    padding: 15px 150px;
    border: 10px;
}


.input{
    height: 57px;
    display: flex;
}

.input_minus{
    width: 25px;
    border: 1px solid;
    height: 100%;
    padding: 20px 5px;
}

.input_minus:hover{
    cursor: pointer;
}

.input_plus{
    width: 25px;
    border: 1px solid;
    height: 100%;
    padding: 20px 5px;
}

.input_plus:hover{
    cursor: pointer;
}

.input_number{
    width: 100%;
    border: none;
    background-color: rgb(182, 255, 251);
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    outline: none;
    }

.details_button{
    background-color: orangered;
    width: 100%;
    height: 57px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.details_button:hover{
    cursor: pointer;
    opacity: 0.7
}

.cart-modal{
    width: 360px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px;
    position: absolute;
    top: 75px;
    right: 6px;
    background-color: white;
    display: none;
}

.cart_modal-title{
    font-weight: 700;
    padding: 24px;
    border-bottom: 1px solid rgb(163, 190, 230);
}

.cart_modal-container{
    padding: 24px;
}

.cart_modal-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    color: rgb(163, 190, 230);
}

.cart-modal-image{
    width: 50px;
    border-radius: 4px;
}

.cart_modal-price span{
    color: black;
    font-weight: 700;
}

.cart_modal-delete:hover{
    cursor: pointer;
}

.cart_modal-button{
    background-color: orangered;
    width: 100%;
    height: 57px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.cart_modal-button:hover{
    cursor: pointer;
    opacity: 0.7
}

.gallery_image-container{
    height: 300px;
    width: 100%;
    
}

@media (min-width: 1115px) {
    .content{
        display: flex;
        padding: 90px 50px;
        gap: 124px;
    }
    .details{
        padding-top: 60px;
        display: inline-block;
        gap: 32px;
    }
    
    .details-title{
        font-size: 2.7em;
        margin-bottom: 48px;
    }
    
    .description{
        font-size: 0.9em; 
        margin-bottom: 37px;  
    }
    
    .details-price{
      flex-direction: column;
      align-items: flex-start}
    
    .gallery {
        width: 446px; 
    }

    .gallery_image-container{
    border-radius: 16px;
    width: 446px;
    height: 446px;
    margin-bottom: 32px;}

    .details-product-quantify{
    display: flex;
    gap: 32px;
}
}

    /* NOTAS */

.article-notes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 15px 12px;
    gap: 15px;

}

.article-notes img{
    width: 100%;
    height: 300px;
    border-radius: 3px;
}

.article-notes p{
    padding-top: 10px;
}

.title-notes{
    text-transform: uppercase;
    font-size: 15px;
    margin: 10px 0;
    color: #000;
}

.readmore {
    font-size: 12px;
    padding: 10px 0;
    color: #000000 ;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.article-notes a:hover{
    text-decoration: underline;
}


/*

.title-notes{

    font-size: 2em;
    text-align: center;
}

.text-notes{

    font-size: 1em;
    padding-bottom: 50px;
    color: black
}

.title-individual{
    font-size: 1,2em;
    text-align: center;

}

.text-individual-top{
    font-size: 1.5em;
    text-align: center;
    padding: 10px 100px;
}

.foot-image{
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 5px 60px;
}

.text-individual{
    font-size: 1.5em;
    padding: 10px 60px;
}


.image-individual{
    display: block;
    text-align: center;
    height: 30%;
    width: 75%;
    margin: auto;
}

.enlace{
    padding: 10px 60px;
}




